pre {
  //border: 0.1rem outset pink;
  outline: 0.1rem solid black;
  box-shadow: 0 0 0 0.3rem gray;
  border-radius: 5px;
  font: 1rem;
  margin: 1rem;
  padding: 1rem;
  //outline-offset: 0.5rem;
}


#button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 8px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 5px;
  cursor: pointer;
  position: relative;
  //top: 50%;
  //left: 40%;
}

input[type=file]::file-selector-button {
  margin-right: 8px;
  margin: 4px;
  border: none;
  background: #04AA6D;
  padding: 8px 12px;
  color: #fff;
  cursor: pointer;
}


